@font-face {
    font-family: "MarkoOne-Regular";
    src: url(../../public/public_assets/MarkoOne-Regular.ttf);
}

.wrapper {
    font: normal 20px "MarkoOne-Regular", "Malgun Gothic";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h3 {
    color: #702828;
    align-self: flex-start;
}
