.wrapper {
    margin: 1em auto;
    padding: 1px 0;
    width: 1024px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
