.wrapper {
    margin: 2em 0;
    width: 1024px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 32px;
    justify-items: center;
}
