.wrapper{
    margin: 1em auto;
    padding: 1px 0;
    width: 1024px;
    background-color: burlywood;
}

.wrapper h3{
    margin: 2em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 8px;
    justify-items: center;
}